@model MVCDemo17.Models.Product

@{
}

@if (Model != null) {
<h2>Product</h2>

<span>Product Name: @Model.Name</span>
<br />
<span>Description: @Model.Description</span>
<br />
 <span>Category: @Model.Category</span>
 <br />
 <span>Price: @Model.Price</span>
<br />
 <span>Amount due: @Model.AmountDue</span>
}
else
{
    <span>
        No product found
    </span>
}
